<footer class="footer is-dark">
   <div class="container">
      <div class="content has-text-centered">
         &copy; 2003 Uneweb Instituto de Comunicación Web C.A J-29431337-0
      </div>
   </div>
</footer>

<!-- START - We recommend to place the below code in footer or bottom of your website html -->
<script is:inline>
   window.REQUIRED_CODE_ERROR_MESSAGE = "Elija un código de país";
   window.LOCALE = "es";
   window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE =
      "La información que ha proporcionado no es válida. Compruebe el formato del campo e inténtelo de nuevo.";
   window.REQUIRED_ERROR_MESSAGE = "Este campo no puede quedarse vacío. ";
   window.GENERIC_INVALID_MESSAGE =
      "La información que ha proporcionado no es válida. Compruebe el formato del campo e inténtelo de nuevo.";
   window.translation = {
      common: {
         selectedList: "{quantity} lista seleccionada",
         selectedLists: "{quantity} listas seleccionadas",
      },
   };
   var AUTOHIDE = Boolean(0);
</script>
<script defer src="https://sibforms.com/forms/end-form/build/main.js" is:inline></script>
<script src="https://www.google.com/recaptcha/api.js?hl=es" is:inline></script>
<!-- END - We recommend to place the above code in footer or bottom of your website html -->
<!-- End Brevo Form -->

<!-- Creado por Frank Albarracín :: efrank.xyz -->
