<footer class="footer is-dark">
   <div class="container">
      <div class="content has-text-centered">
         &copy; 2003 Uneweb Instituto de Comunicación Web C.A J-29431337-0
      </div>
   </div>
</footer>

<!-- Creado por Frank Albarracín :: efrank.xyz -->
