<div class="modal">
   <div class="modal-background"></div>
   <div class="modal-content p-5 has-background-white">
      <div class="is-overlay is-hidden-desktop"></div>
      <div class="columns">
         <div class="column is-5 is-offset-7">
            <div class="content is-relative">
               <h3 class="title is-4">
                  Logra el éxito como Freelancer en Fiverr
               </h3>
               <p class="is-size-6">
                  Trabaja como freelancer en tu tiempo libre y genera ingresos
                  en dólares o euros, aprende desde cero.
               </p>

               <a href="/curso-freelancer" class="button is-primary"
                  >QUIERO UNIRME</a
               >
            </div>
         </div>
      </div>
   </div>
   <button class="modal-close is-large" aria-label="close"></button>
</div>

<style>

   .modal {
      align-items: flex-end;
      justify-content: flex-end;
   }
   .modal-content {
      border-radius: 10px;
      background: url("/img/bg-modal.webp") center / cover;
      margin: 1rem;
      box-shadow: 0 0 7px #808080c1;
   }
   
   .is-overlay {
      background-color: rgba(240, 255, 255, 0.8);
   }
   
   @media (max-width: 575px) {
      .modal-content {

         width: auto;
      }
   }
</style>

<script>
   document.addEventListener("DOMContentLoaded", () => {
      const modal = document.querySelector(".modal");
      const $close = document.querySelector(".modal-close");

      // Functions to open and close a modal
      function openModal($el) {
         $el.classList.add("is-active");
      }

      function closeModal($el) {
         $el.classList.remove("is-active");
      }

      (
         document.querySelectorAll(".modal-background, .modal-close") || []
      ).forEach(($close) => {
         $close.addEventListener("click", () => {
            closeModal(modal);
         });
      });

      setTimeout(() => {
         openModal(modal);
      }, 1000);
   });
</script>
