<header class="header">
   <div class="container is-fluid">
      <nav class="navbar" role="navigation" aria-label="main navigation">
         <div class="navbar-brand">
            <div class="navbar-item">
               <img src="/img/Imagen.png" alt="logo" width="250" height="115" />
            </div>
      
            <a
               role="button"
               class="navbar-burger"
               aria-label="menu"
               aria-expanded="false"
               data-target="navbarBasic"
            >
               <span aria-hidden="true"></span>
               <span aria-hidden="true"></span>
               <span aria-hidden="true"></span>
               <span aria-hidden="true"></span>
            </a>
         </div>
      
         <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-start">
               <!-- <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link"> More </a>
      
                  <div class="navbar-dropdown">
                     <a class="navbar-item"> About </a>
                     <a class="navbar-item is-selected"> Jobs </a>
                     <a class="navbar-item"> Contact </a>
                     <hr class="navbar-divider" />
                     <a class="navbar-item"> Report an issue </a>
                  </div>
               </div> -->
            </div>
      
            <div class="navbar-end">
               <a href="#homologacion" class="navbar-item"> Homologación de título </a>
               <a href="#universidad" class="navbar-item"> Inscripción en Universidad </a>
               <a href="#residencia" class="navbar-item"> Inscripción en Residencia </a>
               <a href="#visa" class="navbar-item"> Visa de Estudiante </a>
               <a href="#somos" class="navbar-item"> Quienes Somos </a>
               <a href="https://uneweb.edu.ve" target="_blank" class="navbar-item"> Cursos y Diplomados </a>
               <a href="#contacto" class="navbar-item"> Contacto </a>
      
               <!-- <div class="navbar-item">
                  <div class="buttons">
                     <a class="button is-primary">
                        <strong>Sign up</strong>
                     </a>
                     <a class="button is-light"> Log in </a>
                  </div>
               </div> -->
            </div>
         </div>
      </nav>

   </div>
</header>

<script>
   document.addEventListener('DOMContentLoaded', () => {

   // Get all "navbar-burger" elements
   const $navbarBurger = document.querySelector('.navbar-burger')

   // Add a click event on each of them
   $navbarBurger.addEventListener('click', () => {

         // Get the target from the "data-target" attribute
         const target = $navbarBurger.dataset.target;
         const $target = document.getElementById(target);

         // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
         $navbarBurger.classList.toggle('is-active');
         $target.classList.toggle('is-active');

   });


   });
</script>

<style>
   .navbar-end {
      font-size: 17px
   }
</style>
