<section class="section is-medium has-background-info-dark" id="homologacion">
   <div class="container has-text-centered">
      <h2 class="title is-2 has-text-white">
         Tramitación de la Homologación <br />de títulos de educación
      </h2>
      <div class="buttons is-justify-content-center">
         <a href="#" class="button is-light is-rounded is-medium is-outlined"
            >Ver más</a
         >
         <a href="#" class="button is-light is-rounded is-medium is-outlined"
            >Solicita asesoría</a
         >
      </div>
   </div>
</section>

<section class="section">
   <div class="container">
      <div class="columns is-centered">
         <div class="column is-10">
            <div class="block has-text-centered">
               <h3 class="title is-3 is-spaced">
                  HOMOLOGACIÓN DE TÍTULOS DE EDUCACIÓN
               </h3>
               <h4 class="subtitle is-5">
                  <b>Impulsa<span class="has-text-primary">tec</span></b> te asesorará,
                  te guiará y realizará los trámites necesarios para la homologación
                  de tus títulos de educación:
               </h4>
            </div>

            <div class="content">
               <p>
                  Obtén la homologación de tus títulos de educación siguiendo
                  con nosotros los siguientes pasos:
               </p>

               <p>
                  <strong
                     >Proceso de tramitación de la homologación de tus títulos
                     de educación paso a paso
                  </strong>
               </p>

               <p>
                  <strong>
                     1. Verificación de los requisitos para solicitar la
                     homologación de tus títulos de educación:</strong
                  >
               </p>

               <p>
                  En este primer paso te asesoraremos, te guiaremos y
                  verificaremos el cumplimiento de los requisitos necesarios
                  para tu solicitud antes de realizarla.
               </p>
               <p><strong> 2. Solicitud</strong></p>

               <p>
                  En este paso con nuestra guía y seguimiento, realizaremos la
                  solicitud de homologación de tus títulos de educación
                  introduciendo todos los documentos requeridos para solicitar
                  la Visa de estudiante de largo plazo:
               </p>

               <ul class="list">
                  <li>
                     Presentación de la autorización legalizada como tus
                     representantes para actuar en tu nombre.
                  </li>
                  <li>
                     Presentación de todos los documentos requeridos para
                     solicitar la homologación de tus títulos de educación en
                     una oficina de registro del ministerio de educación
                  </li>
                  <li>
                     Presentación de certificación del pago de la tasa que
                     corresponda
                  </li>
                  <li>
                     Presentación de un documento descriptivo que acredite la
                     finalidad para la que le es exigido el reconocimiento.
                  </li>
                  <li>
                     Los documentos deberán ser oficiales, estar debidamente
                     legalizados y venir acompañados de traducción oficial al
                     castellano.
                  </li>
                  <li>
                     Presentación del Título o diploma extranjero oficial o de
                     la certificación oficial acreditativa de la superación de
                     los exámenes finales correspondientes, para obtener copia
                     verificada en el registro de la administración española
                  </li>
                  <li>
                     Presentación de la certificación acreditativa de los cursos
                     realizados, en la que consten las asignaturas seguidas, las
                     calificaciones obtenidas y los años académicos en los que
                     se realizaron los cursos respectivos, para obtener copia
                     verificada en el registro de la administración española
                  </li>
                  <li>
                     Los documentos originales legalizados serán verificados en
                     el registro, las copias verificadas se realizan en el
                     momento de presentar la solicitud y la documentación en el
                     registro de la administración española, presentando el
                     original (que se devuelve una vez realizado el escaneo del
                     documento).
                  </li>
                  <li>
                     El órgano instructor podrá requerir cuantos documentos
                     considere necesarios para la acreditación de la
                     equivalencia entre los estudios extranjeros realizados y el
                     título o estudios españoles con los que se pretende la
                     homologación o convalidación.
                  </li>
               </ul>

               <p><strong>Resolución</strong></p>

               <p>
                  En este paso el ministerio de educación, luego de verificados
                  los títulos y estudios académicos emite su resolución en un
                  plazo estimado de 3 meses, sin embargo obtendremos el volante
                  acreditativo de que la solicitud ha sido presentada y
                  permitirá la inscripción en el centro de educación de manera
                  condicional mientras se obtiene la homologación.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
