<section class="section banner is-medium">
   <div class="is-overlay"></div>
   <div class="container">
      <div class="columns is-centered is-vcentered">
         <div class="column is-6">
            <div class="block has-text-centered">
               <h2 class="title is-3 is-spaced">Quienes Somos</h2>

               <div class="buttons is-justify-content-center">
                  <a
                     href="#"
                     class="button is-dark is-rounded is-medium is-outlined"
                     >Ver más</a
                  >
                  <a
                     href="#"
                     class="button is-dark is-rounded is-medium is-outlined"
                     >Solicita asesoría</a
                  >
               </div>
            </div>
         </div>

         <div class="column is-6 has-text-centered">
            <figure class="image logo">
               <img
                  src="/img/logo-impulsatec.webp"
                  width="300"
                  alt="Impulsatec Logo"
               />
            </figure>

            <h3 class="title is-4">
               Programa en tecnología para trabajar y estudiar en España
            </h3>
         </div>
      </div>
   </div>
</section>

<section class="section">
   <div class="container">
      <div class="columns is-centered">
         <div class="column is-9">
            <div class="content">
               <p>
                  <strong
                     >Impulsa<span class="has-text-primary">tec</span></strong
                  >
                  es un programa continuo de formación tecnológica, que impulsa y
                  acelera la integración, de los estudiantes, en el mercado de la
                  unión europea, con base en España, proporcionándoles la FTT (formación
                  tecnológica para el trabajo), en programación, diseño digital multimedia,
                  comunicación digital, social media y tecnología de mercadeo digital
                  y estratégico, para que puedan trabajar y estudiar en España.
               </p>

               <p>
                  La FTT (formación tecnológica para el trabajo), suministrada
                  por UNEWEB en la modalidad on-line o presencial, te permitirá
                  trabajar en las áreas de la tecnología digital en cualquier
                  parte del mundo de manera remota o de manera presencial, para
                  que puedas generar los recursos necesarios mientras estudias
                  en España. (ver pensum de FTT formación tecnológica para el
                  trabajo)
               </p>

               <p>
                  <strong
                     >Impulsa<span class="has-text-primary">tec</span></strong
                  >
                  te asesorará, te guiará y realizará los trámites necesarios para
                  formalizar tu inscripción en un centro educativo de formación y
                  en los estudios autorizados por el registro público oficial de
                  España, que permitan la obtención de tu Visa de estudiante de largo
                  plazo.
               </p>

               <p>
                  Nosotros te asesoraremos y te guiaremos, y con nuestro equipo
                  de abogados españoles especializados en inmigración y
                  extranjería, verificaremos los trámites necesarios para que
                  puedas obtener con éxito tu visa de estudiante de largo plazo.
               </p>

               <p>
                  <strong
                     >El programa Impulsa<span class="has-text-primary"
                        >tec</span
                     > incluye:</strong
                  >
               </p>

               <ul>
                  <li>
                     Formación tecnológica para el trabajo (FTT) para que puedas
                     trabajar en España
                  </li>
                  <li>Tramitación de la Homologación de estudios</li>
                  <li>
                     Inscripción en el centro educativo y en estudios
                     autorizados, de tu elección
                  </li>
                  <li>Inscripción en residencia estudiantil de tu elección</li>
                  <li>
                     Tramitación de la Visa de Estudiante con permiso de trabajo
                  </li>
               </ul>

               <h3 class="title is-3 has-text-centered">
                  Estudia y trabaja en España
               </h3>
               <h4 class="subtitle is-5 has-text-centered">
                  Impulsa y acelera tu integración en el mercado tecnológico de
                  la Unión Europea con base en España
               </h4>
               <h4 class="subtitle is-5 has-text-centered">
                  Con Impulsatec podrás, trabajar, estudiar y desarrollarte
                  tecnológicamente en España
               </h4>
            </div>
         </div>
      </div>
   </div>

   <style>
      .banner {
         background: url("/img/banner-section5.webp") center no-repeat;
         background-size: cover;
         position: relative;
      }

      .is-overlay {
         background-color: rgba(231, 221, 216, 0.75);
      }

      .logo {
         display: flex;
         justify-content: center;
      }

      .logo img {
         width: 295px;
      }
   </style>
</section>
