<section class="section is-medium banner" id="visa">
   <div class="container">
      <div class="columns is-centered">
         <div class="column is-10 has-text-centered">
            <h2 class="title is-3 is-spaced">
               Visa de estudiante con permiso de trabajo
            </h2>

            <h4 class="subtitle is-5">
               Impulsa<span class="has-text-primary">tec</span> te brindará la asesoría
               y el acompañamiento permanente en los trámites necesarios para la
               visa de estudiante con permiso de trabajo
            </h4>
         </div>
      </div>

      <div class="columns is-centered">
         <div class="column is-10">
            <div class="content">
               <p>
                  Nosotros te asesoraremos y te guiaremos, y con nuestro equipo
                  de abogados españoles especializados en inmigración y
                  extranjería, verificaremos los trámites necesarios para que
                  puedas obtener con éxito tu visa de estudiante de largo plazo.
               </p>

               <p>
                  Para obtener tu Visa de estudiante de largo plazo , es decir,
                  para estudios de más 6 meses de duración, deberás estar
                  admitido en un centro educativo que cumpla con las siguientes
                  condiciones:
               </p>

               <ul>
                  <li>
                     El centro educativo de formación debe estar autorizado en
                     el registro público oficial
                  </li>
                  <li>
                     El curso (universitario o de formación profesional FP) debe
                     estar autorizado en el registro de cursos público oficial
                  </li>
                  <li>
                     Debe ser una formación a tiempo completo (mínimo 20 horas
                     semanales)y de duración mayor a 6 meses
                  </li>
                  <li>
                     Esta formación debe permitir la consecución de un título o
                     certificado al terminar exitosamente los estudios
                  </li>
               </ul>

               <p>
                  Para la admisión algunos centros educativos de formación
                  exigen la aprobación del examen de acceso a la Universidad
                  EBAU (o selectividad) mientras que otras solo solicitan la
                  prueba de idiomas, la prueba PAP (prueba de aptitud personal)
                  y la entrevista personal.
               </p>

               <p>
                  Nosotros te asesoraremos y te guiaremos en el proceso de
                  admisión al centro educativo de formación que más te convenga.
               </p>

               <p><strong>Características de la Visa de estudiante</strong></p>

               <p>
                  La Visa de estudiante es una autorización para residir en
                  España durante el periodo que duren tus estudios para obtener
                  tu título (certificado de conclusión exitosa de los estudios),
                  es decir la Visa de estudiante no es un permiso de residencia
                  regular que acumula los años necesarios para obtener la
                  residencia permanente o la nacionalidad española.
               </p>

               <p>
                  Sin embargo, una vez concluido exitosamente tus estudios y
                  obtenido tu título, si así lo deseas, podrás modificar tu
                  estatus migratorio por las diferentes vías previstas en la
                  legislación española (por ejemplo, permiso de trabajo por
                  cuenta propia o por cuenta ajena, extender tu estancia por
                  estudios en el país por un año adicional para conseguir
                  trabajo o montar tu propia empresa. etc.) para lo cual debes
                  continuar con los abogados españoles especializados en
                  inmigración y extranjería.
               </p>

               <h3 class="subtitle is-5 has-text-centered">
                  Proceso de tramitación de la Visa de estudiante paso a paso
               </h3>

            </div>

            <div class="acordeon">

               <div class="card is-fullwidth">
                  <header class="card-header">
                     <p class="card-header-title">
                        <strong
                     >1. Requisitos para solicitar la Visa de estudiante de
                     largo plazo:</strong
                  >
                     </p>
                     <a class="card-header-icon card-toggle">
                        <b>&rsaquo;</b>
                     </a>
                  </header>
                  <div class="card-content is-hidden">
                     <div class="content">
                        <p>
                  En este primer paso te asesoraremos, te guiaremos y
                  verificaremos el cumplimiento de los requisitos necesarios
                  para tu solicitud antes de realizarla.
               </p>
                     </div>
                  </div>
               </div>
           
               <div class="card is-fullwidth">
                  <header class="card-header">
                     <p class="card-header-title">
                        <strong>2. Solicitud</strong>
                     </p>
                     <a class="card-header-icon card-toggle">
                        <b>&rsaquo;</b>
                     </a>
                  </header>
                  <div class="card-content is-hidden">
                     <div class="content">
                         <p>
                  En este paso con nuestra guía y seguimiento, nuestro equipo de
                  abogados españoles especializados en inmigración y extranjería
                  realizará la solicitud de tu Visa de estudiante de largo plazo
                  introduciendo todos los documentos requeridos para solicitar
                  la Visa de estudiante de largo plazo:
               </p>
                <ul>
                  <li>
                     Presentación de la autorización legalizada como tus
                     representantes para actuar en tu nombre.
                  </li>
                  <li>
                     Presentación de los documentos requeridos para solicitar la
                     Visa de estudiante de largo plazo
                  </li>
                  <li>
                     Si te encuentras en tu país de residencia en el consulado
                     de tu país
                  </li>
                  <li>
                     Si te encuentras en España en la oficina de extranjería en
                     España
                  </li>
               </ul>
                     </div>
                  </div>
               </div>

               

        <div class="card is-fullwidth">
                  <header class="card-header">
                     <p class="card-header-title">
                        <strong>
                     3. Notificación por parte inmigración y extranjería
                  </strong>
                     </p>
                     <a class="card-header-icon card-toggle">
                        <b>&rsaquo;</b>
                     </a>
                  </header>
                  <div class="card-content is-hidden">
                     <div class="content">
                           <p>En este paso ocurre la resolución y expedición del visado:</p>

               <ul>
                  <li>
                     El plazo máximo para notificar la resolución es de un mes
                     contado a partir del día siguiente al de la fecha de
                     presentación de la solicitud en la oficina consular
                     competente para su tramitación.
                  </li>
                  <li>
                     El visado concedido deberá ser recogido en el plazo de dos
                     meses desde la notificación.
                  </li>

                  <li>
                     La duración de la estancia que se conceda será igual a la
                     de los estudios que se vayan a realizar, con el límite
                     máximo de un año (o de dos años si se trata de estudios
                     realizados en una institución de enseñanza superior
                     autorizada, que den lugar a la obtención de un título
                     de educación superior reconocido cuando incluya un curso
                     preparatorio o unas prácticas de formación obligatoria).
                  </li>
                  <li>
                     Deberás solicitar personalmente la tarjeta de identidad de
                     extranjero en el plazo de un mes desde la entrada en
                     España, en la Oficina de Extranjería o Comisaría de Policía
                     donde se haya tramitado la autorización.
                  </li>
                  <li>
                     Presentarás en el momento del trámite de huella tu
                     pasaporte y aportarás:
                     <ul>
                        <li>Solicitud de tarjeta de extranjero</li>
                        <li>
                           Justificante del abono de la tasa de la tarjeta.
                        </li>
                        <li>
                           oUna fotografía reciente en color, en fondo blanco,
                           tamaño carné.
                        </li>
                     </ul>
                  </li>
               </ul>
                     </div>
                  </div>
               </div>

              

              

 

            
            
         </div>
      </div>
   </div>
</section>
