<section class="section banner is-medium" id="universidad">
   <div class="is-overlay"></div>
   <div class="container has-text-white">
      <div class="columns is-centered">
         <div class="column is-10">
            <div class="block has-text-centered">
               <h2 class="title is-3 is-spaced has-text-white">
                  Inscripción en la universidad o en el Instituto de Formación
                  Profesional de tu elección
               </h2>

               <h4 class="subtitle is-5 has-text-white">
                  <b>Impulsa<span class="has-text-primary">tec</span></b> te asesorará,
                  te guiará y realizará los trámites necesarios para tu inscripción
                  en la universidad o en el instituto de formación profesional de
                  tu elección.
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="section has-background-link-light">
   <div class="container">
      <div class="columns is-centered">
         <div class="column is-10">
            <div class="content">
               <p>
                  Los estudios requeridos para obtener tu Visa de estudiante de
                  largo plazo, es decir, para estudios de más 6 meses de
                  duración, deben cumplir con los siguientes requisitos:
               </p>

               <ul>
                  <li>
                     El centro educativo de formación debe estar autorizado en
                     el registro público oficial
                  </li>

                  <li>
                     El curso (universitario o de formación profesional FP) debe
                     estar autorizado en el registro de cursos público oficial
                  </li>
                  <li>
                     Debe ser una formación a tiempo completo (mínimo 20 horas
                     semanales) y de duración mayor a 6 meses
                  </li>
                  <li>
                     Esta formación debe permitir la consecución de un título o
                     certificado al terminar exitosamente los estudios
                  </li>
               </ul>

               <p>
                  Para la admisión, algunos centros educativos de formación
                  exigen la aprobación del examen de acceso a la Universidad
                  EBAU (o selectividad) mientras que otras solo solicitan la
                  prueba de idiomas, la prueba PAP (prueba de aptitud personal)
                  y la entrevista personal.
               </p>

               <p>
                  Nosotros te asesoraremos y te guiaremos en el proceso de
                  admisión al centro educativo de formación que más te convenga.
               </p>
            </div>
         </div>
      </div>

      <h3 class="subtitle is-4 has-text-weight-bold has-text-centered">
         Proceso de inscripción paso a paso
      </h3>

      <div class="columns is-centered">
         <div class="column is-8 acordeon">
            <div class="card is-fullwidth">
               <header class="card-header">
                  <p class="card-header-title">
                     <strong>1. Selección</strong>
                  </p>
                  <a class="card-header-icon card-toggle">
                     <b>&rsaquo;</b>
                  </a>
               </header>
               <div class="card-content is-hidden">
                  <div class="content">
                     <p>
                        En este paso seleccionas tanto la especialidad que
                        estudiarás, como la institución donde la cursaras ya sea
                        para grado universitario o para estudios de FP de grado
                        superior (Formación profesional de grado superior).
                     </p>
                     <p>
                        Para tu selección te presentaremos las ventajas de
                        varias opciones de programas en varias instituciones de
                        estudios para grado universitario y para estudios de FP
                        de grado superior (Formación profesional de grado
                        superior).
                     </p>
                  </div>
               </div>
            </div>

            <div class="card is-fullwidth">
               <header class="card-header">
                  <p class="card-header-title">
                     <strong>2. Solicitud</strong>
                  </p>
                  <a class="card-header-icon card-toggle">
                     <b>&rsaquo;</b>
                  </a>
               </header>
               <div class="card-content is-hidden">
                  <div class="content">
                     <p>
                        En este paso te asesoraremos, te guiaremos y
                        verificaremos el cumplimiento de los requisitos
                        necesarios para tu solicitud, una vez verificado que
                        estén en regla. realizaremos, para ti, la solicitud de
                        inscripción anexando los documentos personales y
                        académicos
                     </p>

                     <p>Documentos a presentar:</p>

                     <ul>
                        <li>
                           Presentación de la autorización legalizada como tus
                           representantes para actuar en tu nombre
                        </li>
                        <li>
                           Presentación de los documentos y requisitos exigidos
                           por el centro educativo para tu admisión
                        </li>
                        <li>
                           Todos los documentos que se aporten a este
                           procedimiento deberán ser oficiales y estar expedidos
                           por las autoridades competentes para ello. Asimismo,
                           deberán estar legalizados y traducidos cuando proceda
                        </li>
                     </ul>
                  </div>
               </div>
            </div>

            <div class="card is-fullwidth">
               <header class="card-header">
                  <p class="card-header-title">
                     <strong>3. Admisión</strong>
                  </p>
                  <a class="card-header-icon card-toggle">
                     <b>&rsaquo;</b>
                  </a>
               </header>
               <div class="card-content is-hidden">
                  <div class="content">
                     <p>
                        En este paso realizaremos los pasos requeridos para tu
                        admisión en la institución educativa seleccionada en la
                        que cursaras la especialidad que deseas:
                     </p>

                     <ul>
                        <li>Pago de Tasa de admisión</li>
                        <li>Pago del examen de admisión</li>
                        <li>Programación de examen de admisión</li>
                        <li>Programación de entrevista personal de admisión</li>
                     </ul>
                  </div>
               </div>
            </div>

            <div class="card is-fullwidth">
               <header class="card-header">
                  <p class="card-header-title">
                     <strong>4. Inscripción</strong>
                  </p>
                  <a class="card-header-icon card-toggle">
                     <b>&rsaquo;</b>
                  </a>
               </header>
               <div class="card-content is-hidden">
                  <div class="content">
                     <p>
                        Una vez aprobada la admisión, procederemos a efectuar
                        los pasos requeridos para la inscripción:
                     </p>

                     <ul>
                        <li>Pago de reserva de Plaza</li>
                        <li>Pago de apertura de expediente</li>
                     </ul>
                  </div>
               </div>
            </div>

            <div class="card is-fullwidth">
               <header class="card-header">
                  <p class="card-header-title">
                     <strong>5. Matriculación y acreditación</strong>
                  </p>
                  <a class="card-header-icon card-toggle">
                     <b>&rsaquo;</b>
                  </a>
               </header>
               <div class="card-content is-hidden">
                  <div class="content">
                     <p>
                        Una vez realizada la inscripción, procederemos a
                        efectuar los pasos requeridos para la Matriculación:
                     </p>

                     <ul>
                        <li>Pago de matrícula</li>
                        <li>Domiciliación Bancaria</li>
                        <li>Obtención del certificado de matricula</li>
                        <li>Acreditación</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<style>
   .banner {
      background: url("/img/banner-section2.webp") center no-repeat;
      background-size: cover;
      position: relative;
   }

   .is-overlay {
      background-color: rgba(73, 36, 19, 0.75);
   }
</style>
