<section class="section is-medium has-background-info-dark" id="residencia">
   <div class="is-overlay"></div>
   <div class="container has-text-white">
      <div class="columns is-centered">
         <div class="column is-10">
            <div class="block has-text-centered">
               <h2 class="title is-3 is-spaced has-text-white is-capitalized">
                  Inscripción en residencia estudiantil de tu elección
               </h2>

               <h4 class="subtitle is-5 has-text-white">
                  <b>Impulsa<span class="has-text-primary">tec</span></b> te asesorará,
                  te guiará y realizará los trámites necesarios para ubicar e inscribirte
                  en la residencia estudiantil de tu elección:
               </h4>
            </div>
         </div>
      </div>

      <div class="columns is-centered">
         <div class="column is-10">
            <div class="content">
               <p>
                  Asegura tu alojamiento de estudiante antes de tu viaje a
                  España evitando alojarte en costosos hoteles mientras te
                  ubicas.
               </p>

               <p>
                  Nosotros te presentaremos opciones adaptadas a tus gustos y
                  presupuesto cercanas al centro educativo donde estudiarás.
               </p>
               <p class="has-text-centered">
                  Disponemos de varias opciones que te presentaremos para tu
                  elección:
               </p>
            </div>
            <div class="columns">
               <div class="column is-6">
                  <div class="content">
                     <p>
                        <strong class="has-text-white"
                           >Habitaciones privadas en apartamentos compartidos</strong
                        >
                     </p>

                     <p>
                        Alquiler de habitaciones privadas amobladas en
                        apartamentos compartidos con familias o con otros
                        estudiantes, con los servicios de luz, agua y
                        calefacción incluidos y servicios de cocina, aseos y
                        equipo de lavado de ropa compartidos.
                     </p>

                     <p>
                        <strong class="has-text-white">
                           Residencias estudiantiles</strong
                        >
                     </p>
                     <p>
                        Alquiler de habitaciones privadas amobladas en
                        residencia estudiantil con los servicios de luz, agua y
                        calefacción incluidos, baño privado, cocina privada y
                        zonas comunes gimnasio, sala de estudio compartidos
                     </p>
                  </div>
               </div>
               <div class="column">
                  <div class="content">
                     <p>
                        <strong class="has-text-white">
                           Apartamento tipo estudio</strong
                        >
                     </p>
                     <p>
                        Alquiler de apartamento privado de un solo espacio,
                        amoblado y equipado con cocina y equipo de lavado de
                        ropa.
                     </p>

                     <p>
                        <strong class="has-text-white"
                           >Apartamento de varias habitaciones</strong
                        >
                     </p>
                     <p>
                        Alquiler de apartamento privado de una o varias
                        habitaciones, amoblado y equipado con cocina y equipo de
                        lavado de ropa.

                        <br />
                        Tan pronto recibamos tu solicitud te presentaremos las opciones
                        para tu selección
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="columns is-centered">
         <div class="column is-10">
            <h3 class="subtitle has-text-white has-text-centered">
               Proceso de inscripción en la residencia paso a paso
            </h3>

            <div class="acordeon">
               <div class="card is-fullwidth">
                  <header class="card-header">
                     <p class="card-header-title">
                        <strong>1. Selección</strong>
                     </p>
                     <a class="card-header-icon card-toggle">
                        <b>+</b>
                     </a>
                  </header>
                  <div class="card-content is-hidden">
                     <div class="content">
                        <p>
                           En este paso seleccionas tanto el tipo de residencia
                           deseada, ajustada a tu gusto, tu presupuesto y a la
                           cercanía y medios de transporte al centro educativo
                           donde cursaras tus estudios.
                        </p>
                     </div>
                  </div>
               </div>

               <div class="card is-fullwidth">
                  <header class="card-header">
                     <p class="card-header-title">
                        <strong>2. Solicitud</strong>
                     </p>
                     <a class="card-header-icon card-toggle">
                        <b>+</b>
                     </a>
                  </header>
                  <div class="card-content is-hidden">
                     <div class="content">
                        <p>
                           En este paso realizaremos la solicitud de inscripción en
                           la residencia seleccionada anexando los documentos
                           solicitados
                           <br />
                           Documentos requeridos:
                        </p>
   
                        <ul>
                           <li>Documento de identidad, pasaporte</li>
                           <li>
                              Autorización legalizada al representante para actuar
                              en su nombre
                           </li>
                           <li>
                              Datos personales completos, incluidos número de
                              documento de identidad, y nombres y teléfonos del
                              padre o tutor, y madre o tutora.
                           </li>
                           <li>País de procedencia.</li>
                           <li>
                              Información sobre el centro educativo en el cual
                              cursarás tus estudios.
                           </li>
                           <li>
                              El tipo de residencia solicitada (habitación privada
                              en apartamento compartido, habitación privada en
                              residencia estudiantil, apartamento tipo estudio o
                              apartamento de varios ambientes).
                           </li>
                           <li>Datos adicionales que requiera la residencia.</li>
                        </ul>
                     </div>
                  </div>
               </div>
   
               <div class="card is-fullwidth">
                  <header class="card-header">
                     <p class="card-header-title">
                        <strong
                           >3. Admisión e Inscripción</strong
                        >
                     </p>
                     <a class="card-header-icon card-toggle">
                        <b>+</b>
                     </a>
                  </header>
                  <div class="card-content is-hidden">
                     <div class="content">
                        <p>
                           En este paso realizaremos los pasos requeridos para tu
                           admisión e inscripción en en la residencia seleccionada:
                        </p>
   
                        <ul>
                           <li>
                              Pago de reserva de admisión (descontable del pago del
                              primer mes)
                           </li>
                           <li>Pago depósito de garantía</li>
                           <li>
                              Realización del contrato de hospedaje o de
                              arrendamiento
                           </li>
                           <li>Domiciliación Bancaria</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>



         </div>
      </div>
   </div>
</section>
