---
import "/node_modules/reveal.js/dist/reveal.css";
// import "/node_modules/reveal.js/dist/theme/simple.css";
---

<section class="hero is-medium is-dark banner">
   <div class="is-overlay"></div>
   <div class="hero-body">
      <div class="container">
         <div class="columns is-vcentered">
            <div class="column is-7 p-3">
               <!-- Reveal Slides -->
               <div class="reveal">
                  <div class="slides">
                     <section>
                        <h1
                           class="title is-2 is-size-3-mobile is-bold is-spaced"
                        >
                           Programa en tecnología para trabajar y estudiar en
                           España <img src="img/bandera.png" alt="España" />
                        </h1>

                        <h2 class="subtitle is-5 is-bold is-spaced">
                           Visa Estudiante con permiso de trabajo<br>
                           Fórmate en tecnología y trabaja en España
                        </h2>

                        <div class="buttons">
                           <a
                              href="https://wa.me/+34657930351"
                              class="button is-success is-rounded is-medium"
                              >Whatsapp</a
                           >
                           <a
                              href="#contacto"
                              class="button is-primary is-rounded is-medium"
                              >Solicita Información</a
                           >
                        </div>
                     </section>

                     <section>
                        <h1 class="title is-2 is-size-3-mobile is-bold">
                           Estudia y trabaja en España <img
                              src="img/bandera.png"
                              alt="España"
                           />
                        </h1>
                        <h2 class="title is-4 is-size-5-mobile is-bold my-2">
                           Impulsa y acelera tu integración en el mercado
                           tecnológico de la Unión Europea
                        </h2>
                        <h3 class="subtitle is-5 is-size-6-mobile">
                           Con Impulsatec podrás, trabajar, estudiar y
                           desarrollarte tecnológicamente en el mercado de
                           Europa con base en España
                        </h3>

                        <div class="buttons">
                           <a
                              href="https://wa.me/+34657930351"
                              class="button is-success is-rounded is-medium"
                              >Whatsapp</a
                           >
                           <a
                              href="#contacto"
                              class="button is-primary is-rounded is-medium"
                              >Solicita Información</a
                           >
                        </div>
                     </section>

                     <section>
                        <h1 class="title is-2 is-size-3-mobile is-bold">
                           Impulsatec realizará:
                        </h1>

                        <ul
                           class="list is-size-6 is-size-7-mobile my-3 has-text-white"
                        >
                           <li>Formación tecnológica para el trabajo</li>
                           <li>Tramitación de la homologación de estudios</li>
                           <li>
                              Inscripción en la universidad o en el instituto de
                              Formación Profesional de tu elección
                           </li>
                           <li>
                              Inscripción en residencia estudiantil de tu
                              elección
                           </li>
                           <li>
                              Tramitación de la Visa de estudiante con permiso
                              de trabajo
                           </li>
                        </ul>

                        <div class="buttons">
                           <a
                              href="https://wa.me/+34657930351"
                              class="button is-success is-rounded is-medium"
                              >Whatsapp</a
                           >
                           <a
                              href="#contacto"
                              class="button is-primary is-rounded is-medium"
                              >Solicita Información</a
                           >
                        </div>
                     </section>
                  </div>
               </div>

               <!-- end Reveal -->
            </div>
         </div>
      </div>
   </div>
</section>

<script>
   import Reveal from "reveal.js";

   const elem = document.querySelector(".reveal");

   let deck = new Reveal({
      controls: false,
      progress: false,
      autoSlide: 6000,
      loop: true,
      disableLayout: true,
      transition: "fade",
      embedded: true,
      autoSlideStoppable: false,
   });
   deck.initialize();

   const banner = document.querySelector(".banner");
   const images = [
      "/img/slider-2.webp",
      "/img/slider-3.webp",
      "/img/slider-4.webp",
   ];
   let currentIndex = 0;

   function changeBackground() {
      currentIndex = (currentIndex + 1) % images.length;
      banner.style.backgroundImage = `url(${images[currentIndex]})`;
   }

   setInterval(changeBackground, 6000); // Cambia la imagen cada 5 segundos (5000 milisegundos)

   function getFlagEmoji(countryCode) {
      const codePoints = countryCode
         .toUpperCase()
         .split("")
         .map((char) => 127397 + char.charCodeAt());
      return String.fromCodePoint(...codePoints);
   }
</script>

<style>
   .banner {
      background-image: url("/img/slider-2.webp");
      background-color: aliceblue;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      transition: background-image 0.5s ease-in-out;
   }

   .is-overlay {
      background-color: rgba(46, 47, 52, 0.7);
   }

   .list {
      margin-left: 1.4rem;
      line-height: 1.4;
      list-style: disc;
   }
</style>

<style is:global>
   .reveal-viewport {
      background-color: transparent;
   }
   .reveal.center {
      min-height: 370px !important;
   }

   .reveal .slides {
      text-align: left;
   }

   .reveal h1,
   .reveal h2,
   .reveal h3,
   .reveal h4,
   .reveal h5,
   .reveal h6 {
      text-transform: none;
      line-height: unset;
   }

   @media (max-width: 767px) {
      .reveal.center {
         min-height: 500px !important;
         margin-top: 2rem;
      }

      .button {
         width: 100%;
      }
   }
</style>
