---
import "/node_modules/reveal.js/dist/reveal.css";
// import "/node_modules/reveal.js/dist/theme/simple.css";
---

<section class="hero is-medium is-dark banner">
   <div class="is-overlay"></div>
   <div class="hero-body">
      <div class="container">
         <div class="columns is-vcentered">
            <div class="column is-7 p-3">
               <!-- Reveal Slides -->
               <div class="reveal">
                  <div class="slides">
                     <section>
                        <h1 class="title is-2 is-bold is-spaced">
                           Programa en tecnolog铆a para trabajar y estudiar en
                           Espa帽a 
                        </h1>

                        <!-- <h2 class="subtitle is-5 is-bold is-spaced">
                           Lorem ipsum dolor, sit amet consectetur adipisicing
                           elit. Aliquam veritatis facilis commodi voluptatum
                           cum. Cum est ut voluptate eius ex deleniti accusamus
                           exercitationem dolores necessitatibus recusandae.
                        </h2> -->

                        <div class="buttons">
                           <a
                              href="https://wa.me/+34657930351"
                              class="button is-success is-rounded is-medium"
                              >Whatsapp</a
                           >
                           <a
                              href="#contacto"
                              class="button is-primary is-rounded is-medium"
                              >Solicita Informaci贸n</a
                           >
                        </div>
                     </section>

                     <section>
                        <h1 class="title is-2 is-bold is-spaced">
                           Estudia y trabaja en Espa帽a 
                        </h1>
                        <h2 class="title is-4 is-bold is-spaced">
                           Impulsa y acelera tu integraci贸n en el mercado
                           tecnol贸gico de la Uni贸n Europea
                        </h2>
                        <h3 class="subtitle is-5">
                           Con Impulstaec podr谩s, trabajar, estudiar y
                           desarrollarte tecnol贸gicamente en el mercado de
                           Europa con base en Espa帽a
                        </h3>

                        <div class="buttons">
                           <a
                              href="https://wa.me/+34657930351"
                              class="button is-success is-rounded is-medium"
                              >Whatsapp</a
                           >
                           <a
                              href="#contacto"
                              class="button is-primary is-rounded is-medium"
                              >Solicita Informaci贸n</a
                           >
                        </div>
                     </section>

                     <section>
                        <h1 class="title is-2 is-bold is-spaced">
                           Impulsatec realizar谩:
                        </h1>

                        <ul class="list is-size-6 mb-5 has-text-white">
                           <li>Formaci贸n tecnol贸gica para el trabajo</li>
                           <li>Tramitaci贸n de la homologaci贸n de estudios</li>
                           <li>
                              Inscripci贸n en la universidad o en el instituto de
                              Formaci贸n Profesional de tu elecci贸n
                           </li>
                           <li>
                              Inscripci贸n en residencia estudiantil de tu
                              elecci贸n
                           </li>
                           <li>
                              Tramitaci贸n de la Visa de estudiante con permiso
                              de trabajo
                           </li>
                        </ul>

                        <div class="buttons">
                           <a
                              href="https://wa.me/+34657930351"
                              class="button is-success is-rounded is-medium"
                              >Whatsapp</a
                           >
                           <a
                              href="#contacto"
                              class="button is-primary is-rounded is-medium"
                              >Solicita Informaci贸n</a
                           >
                        </div>
                     </section>
                  </div>
               </div>

               <!-- end Reveal -->
            </div>
         </div>
      </div>
   </div>
</section>

<script>
   import Reveal from "reveal.js";

   const elem = document.querySelector(".reveal");

   let deck = new Reveal({
      controls: false,
      progress: false,
      autoSlide: 4000,
      loop: true,
      disableLayout: true,
      transition: "fade",
      embedded: true,
      autoSlideStoppable: false,
   });
   deck.initialize();
</script>

<style is:global>
   .reveal-viewport {
      background-color: transparent;
   }
   .reveal.center {
      min-height: 370px !important;
   }

   .reveal .slides {
      text-align: left;
   }

   .reveal h1,
   .reveal h2,
   .reveal h3,
   .reveal h4,
   .reveal h5,
   .reveal h6 {
      text-transform: none;
      line-height: unset;
   }

   /* @media (max-width: 767px) {
      .reveal.center {
         min-height: 300px !important;
         margin-top: 3rem;
      }

   } */
</style>

<style>
   .banner {
      background-image: url("/img/slider-2.webp");
      background-color: aliceblue;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      animation: slider 12s ease-in-out infinite;
      /* transition: background-image .3s ease-in-out; */
   }

   @keyframes slider {
      0% {
         background-image: url("/img/slider-2.webp");
      }
      33% {
         background-image: url("/img/slider-3.webp");
      }
      66% {
         background-image: url("/img/slider-4.webp");
      }
      100% {
         background-image: url("/img/slider-2.webp");
      }
   }

   .is-overlay {
      background-color: rgba(46, 47, 52, 0.6);
   }

   .list {
      margin-left: 1.4rem;
      line-height: 1.4;
      list-style: disc;
   }
</style>
